<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Create your own Youtube watchlists!">
    <meta name="keywords" content="youtube, list, authentication">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lists</title>

    <!-- external CSS links -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Add A Video</h1>
    <form action="videos/createVideo" method="POST">
        <input type="text" name="url">
        <button>Add</button>
    </form>
    <h1>Video List:</h1>
    <section class="video-container">
        <div class="video" id="whateverTheVideoId will be">
            <h3 class="video__title">Video Title Here</h3>
            <h4 class="video__channel">Channel Name here</h4>
            <img class="video__thumbnail" src="#" alt="">
            <p class="video__desc">Video Description</p>
            <p class="video__metrics">Views:<span class="video__view-count">0</span></p>
            <p class="video__metrics">Likes:<span class="video__like-count">1</span></p>
            <p class="video__metrics">Comments:<span class="video__comment-count">2</span></p>
            <p class="video__metrics">Published On:<span class="video__publish-date">Jan 1, 1920</span></p>
            <h4>Video ID Here</h4>
        </div>
    </section>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>