
/********************************
*   BASE STYLES
********************************/
* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #22242a;
}

h1{
    font-size: 2rem;
    font-weight: 700;
    /* margin-bottom: 1em; */
}

h2 {
    font-size: 1.8rem;
    /* margin-bottom: 1em; */
}

h3 {
    font-size: 1.6rem;
    font-weight: 500;
    /* margin-bottom: 1em; */
}

h4 {
    font-size: 0.9rem;
    color: #7b849c;
    /* margin-bottom: 1em; */
}

p {
    font-size: 1.1rem;
    line-height: 1.3em;
}

button {
    background: #262a31;
    border: 1px solid #2a2e34;
    padding: 0.6em 1.6em;
    font-family: 'Roboto', sans-serif;  
    font-size: 1.2rem;
    color:  #aeb6ca;
    border-radius: 0.5em;
    cursor: pointer;
}

input {
    font-size: 1.2rem;
    padding: 0.6em 0.5em;
    background: #1c1e22;
    color:white;
    font-family: 'Roboto', sans-serif;
    border: 0;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

/********************************
*   BLOCK ELEMENTS
********************************/
.row {
    display: flex;
}

.container {
    width: min(1200px, 70%);
    margin: 0 auto;
}

.header {
    background: #1c1e22;
    border-bottom: 1px solid #454a56;
    /* allow this to stick to the top of the page */
}

.nav {
    align-items: space-between;
    padding: 1.2em 1em;
    justify-content: flex-end;
    gap: 2em;
    align-items: center;
}

.form-container {
    margin-top: 3em;
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px solid #454a56;
    padding-bottom: 1em;
    align-items: center;
}

.form-title {
    margin-right: 1em;
}

.video-form {
    flex: 1;
    display: flex;
    gap: 1em;
}

.video-form__input {
    flex: 1;
}

.videos-container__title {
    margin: 2em 0 1em;
}

.video {
    margin-bottom: 1em;
    padding: 1.2em;
    background: #323741;
    border: 1px solid #434854;
    border-radius: 0.5em;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}

.video__thumbnail-container {
    /* width: 35%; */
    flex: 1;
}

.video__thumbnail {
    width: 100%;
}

.video__data {
    /* width: 60%; */
    flex: 3;
}

.video__title {
    color: #76a9ff;
}
.video__channel {
    margin: 0.5em 0 1em;
}

.video__metrics {
    font-weight: 500;
    color: #9198ac;
    /* color: #717786; */
}

.video__metrics__row {
    gap: 2em;
    margin: 0.5em 0 0.5em;
    flex-wrap:wrap;
}

.fa-regular {
    color: #76a9ff;
    margin-right: 0.3em;
}

/* .video__publish-date {
    color: #fff;
    font-size: 0.9rem;
} */

/* ***************** */

.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

hr {
    background-color: #464646;
    height: 1px;
    border: none;
}

#navbar {
    background-color: #212121;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    color: #fff;
}

#nav-menu {
    background-color: #212121;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
    left: -100%;
    transition: 850ms;
}

#nav-menu.active{
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    list-style: none;
    height: 50px;
    padding: 1rem;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.nav-text:hover{
    background-color: rgba(144,144,144,0.219);
    cursor: pointer;
}

.nav-menu-items{
    width: 100%;
}

/*if want to add and change icon sizes
.nav-icon{
    padding-right: 1rem;
    color:#909090;
*/

#navbar-toggle{
    background-color: #212121;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#navbar-toggle h1 {
    color: #fff;
    font-family: sans-serif;
}

.fa-bars{
    color:#fff;
}

.nav-section{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* index styles start */

#index-page{
    margin: 100px;
    text-align: center;
    
    /* border: 1px solid #454a56 */
}
#index-page h1{
    margin: 100px;
    
}
#index-page a {
    text-decoration: none;
}

.button:hover{
    background-color: rgba(144,144,144,0.219);
    color: #9198ac;
}
/* a href class button */
.button{
    margin: 10px;
    background: #262a31;
    border: 1px solid #2a2e34;
    padding: 0.6em 1.6em;
    font-family: 'Roboto', sans-serif;  
    font-size: 1.2rem;
    color:  #aeb6ca;
    border-radius: 0.5em;
    cursor: pointer;
}

/* login and sign up page */

.middle-Heading{
    margin-top: 100px;
    text-align: center;
}

.login-Signup{
    height: 300px;
    width:300px;
    text-align: center;
    display:block;
    margin:0 auto;
    margin-top: 10px;
}

.login-Signup input {
    margin-top: 10px;
}

